<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Learn Sphere</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<link rel="stylesheet" href="style.css">
</head>
<body>
	<nav id="navbar-example2"
		class="navbar bg-body-tertiary px-3 mb-3 navsrr21">
		<a class="navbar-brand fs-6" href="home">LearnSphere</a>
		<ul class="nav nav-pills">
			<li class="nav-item"><a class="nav-link" href="home">About</a></li>
			<li class="nav-item"><a class="nav-link" href="home">Home</a></li>
			<li class="nav-item"><a class="nav-link" href="register">Register</a>
			</li>
			<li class="nav-item"><a class="nav-link" href="login">Login</a>
			</li>
		</ul>
	</nav>
	<div class="container herosrr21">
		<div>
			<h2>About Us</h2>
			<p>Learn Sphere is a dynamic online learning platform dedicated
				to transforming education and empowering individuals to reach their
				full potential. We believe that education is a lifelong journey, and
				everyone should have access to quality learning resources regardless
				of their background or location.</p>
		</div>
		<div>
			<iframe width="310" height="180" class="about-video"
				src="https://www.youtube.com/embed/E_VwOGOQbEQ?list=PLHt2-5yOJNcb3HlKtNQKXIau19iDzxitY"
				title="Demo Video" frameborder="0"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
				allowfullscreen></iframe>
		</div>
	</div>
	<div class="container">
		<button type="button" class="btn btn-primary btn-sm">
			<a class="link-light text-decoration-none" href="register">Register</a>
		</button>
		<button type="button" class="btn btn-primary btn-sm">
			<a class="link-light text-decoration-none" href="login">Login</a>
		</button>
	</div>
</body>
</html>