<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>My Lesson</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<nav id="navbar-example2"
		class="navbar bg-body-tertiary px-3 mb-3 navsrr21">
		<a class="navbar-brand fs-6" href="home">LearnSphere</a>
		<ul class="nav nav-pills">
		    <li class="nav-item"><a class="nav-link" href="myCourses">My Courses</a></li>
		    <li class="nav-item"><a class="nav-link" href="studentHome">Student Home</a></li>
			<li class="nav-item"><a class="nav-link" href="home">Home</a></li>
		</ul>
	</nav>

	<div class="container">
		<table class="table table-success table-striped table-bordered">
			<thead>
				<tr>

					<th scope="col">Lesson Id</th>
					<th scope="col">Lesson Name</th>
					<th scope="col">Lesson Topics</th>
					<th scope="col">Lessons link</th>
					<th scope="col">Course Id</th>
				</tr>
			</thead>
			<tbody>

				<tr>
					<td th:text="${lesson.lessonId}"></td>
					<td th:text="${lesson.lessonName}"></td>
					<td th:text="${lesson.topics}"></td>
					<td th:text="${lesson.links}"></td>
					<td th:text="${lesson.course.courseId}"></td>
				</tr>

			</tbody>
		</table>
	</div>

	<div class="container">

		<iframe width="310" height="180" class="about-video"
				src="https://www.youtube.com/embed/E_VwOGOQbEQ?list=PLHt2-5yOJNcb3HlKtNQKXIau19iDzxitY"
				title="Demo Video" frameborder="0"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
				allowfullscreen></iframe>
	</div>

	<div class="container">
		<h6>Leave a comment here:</h6>
		<form action="/addComment" method="post">
			<textarea name="comment"></textarea><br>
			<button type="submit" class="btn btn-primary btn-sm comsrr21">Add Comment</button>
		</form>
	</div>
</body>
</html>